<!DOCTYPE html> 
<html>

<head>
    <title>MARVEL</title>

    <link rel="stylesheet" href="/styles/css/reset.css">
    <link rel="stylesheet" href="/styles/css/base.css">
    <link rel="stylesheet" href="/styles/css/layout.css">
    <link rel="stylesheet" href="/styles/css/modules.css">
    <link rel="stylesheet" href="/styles/css/nav1.css"> 
</head>

<body>
    <%


    function Character(data) {
        this.name = (data.name)? data.name : 'N/A';
        this.description = (data.description)?data.description: 'N/A';
        this.modified= (data.modified)?data.modified: 'N/A';
        this.resourceURI = (data.resourceURI)?data.resourceURI : '';
        this.urls = (data.urls)?data.urls : 'N/A';
        this.thumbnail = (data.thumbnail)?data.thumbnail.path+"."+data.thumbnail.extension : 'N/A';
        this.comics = (data.comics)?data.comics : 'N/A';
        this.stories = (data.stories)?data.stories : 'N/A';
        this.events= (data.events)?data.events: 'N/A';
        this.series=(data.series)?data.series: 'N/A';  

      }
      %>
    
        <!-- <h1> Best Character !</h1>
        <h1> <a href="/">Back to Home </a></h1> -->
        <header>   
                             
          <%- include('../../layout/header') %>              
    </header>
    <main>
        <h2> Search Results </h2>
        <% if(character){ data = new Character(character);%>

         

        <img class="marvelimage" src=<%=data.thumbnail %>><br>

            <div class="themarveldetails">
                    <p class="p1"> ** character Details ** </p><br>
                    
                  
                    
                 
                    <p class="marveltitle">Name :  <%= data.name %></p><br><br>

                <p class="marveltitle"> Description :  <%= data.description %></p><br><br>
                <p class="marveltitle">Modified :   <%= data.modified %></p><br><br>

                <form action ='/addmarvel' method="POST" class="marveltitle">
                  <input type="hidden" name="name" value="<%=data.name%>"/>
                  <input type="hidden" name="image" value="<%=data.thumbnail%>"/>
                  <input type="hidden" name="desc" value="<%=data.description%>"/>
                  <button class="save-marvel" type="submit"> Save This Marvel </button>

      
              </form>

                <!-- <p class="booktitle">resourceURI <%= data.resourceURI %></p> -->
                <!-- <p class="bookauthor"> urls <%=data.urls%></p> -->
            </div><br>

         
        <div class="co1">Comics
              
          <ol>
                    <%
          comics.forEach((item) => {  %><br>
              <li class="comicItem"><%= item.title %></li><br>
              <img class="com" src=<%=item.thumbnail.path+"."+item.thumbnail.extension %>><br>
            
              
          <% });
        %>
        </ol>
           
        </div><br><br>


                 <div class="co2">Stories
                 <ol>                <%
                     data.stories.items.forEach((item) => { %>
                         <li class="comicItem"><%= item.name %></li> 
                      <% });
                 %>
                  </ol>
                 </div><br><br>
                  <div class="co3">Events
                 <ol>                <%
                     data.events.items.forEach((item) => { %>
                         <li class="comicItem"><%= item.name %></li> 
                      <% });
                 %>
                  </ol>
                 </div><br>
                  <div class="co3">Series
                  <ol>                <%
                      data.series.items.forEach((item) => { %>
                          <li class="comicItem"><%= item.name %></li> 
                       <% });
                  %>
                   </ol>

                  </div>

                <% }else{
                    %>
                    <p class="marvelitle"> No character Available</p>
                <% } %>
            </div>


        </main>
</body>

</html>