<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MARVELATION</title>
  <link rel="stylesheet" href="/styles/css/reset.css">
  <link rel="stylesheet" href="/styles/css/base.css">
  <link rel="stylesheet" href="/styles/css/layout.css">
  <link rel="stylesheet" href="/styles/css/modules.css">
  <link rel="stylesheet" href="/styles/nav1.css">
  <script src="https://kit.fontawesome.com/a20d671700.js" crossorigin="anonymous"></script>
</head>

<body>
  <header>
    <div id="header">
      <p id="header-text"> Marvelation </p>

    </div>
    <%- include('layout/header') %>
  </header>
  <main>

    <section id="serach-container">
      <div class="allbox">
        <div class='cd'>
          <h2> Search By a name Of charecter </h2>
          <form id="form" action="/searches" method="post">
            <input id="thesearchbox" name="search" placeholder='Enter a name of marvel ' style="color: black;" />
            <br><br>
            <button id=button> Search The MARVEL API</button><br><br>
          </form>
        </div>
      </div>
    </section>
    <section id="container-for-search">
      <% if(marvels){ marvels.forEach((marvel) =>{ %>
      <div class="a7a">
        <img class="m-image" src=<%=marvel.image %>>
        <p class="m-title">Name : <%= marvel.name %> </p>

        <p class="m-title"> Description : <%= marvel.description %> </p>

        <form action='/searches' method="POST" class="booktitle">
          <input type="hidden" name="search" value="<%=marvel.name%>" />
          <button class="btn" type="submit"> View Details </button>
        </form>
        <form action='/delete' method="POST" class="booktitle">
          <input type="hidden" name="id" value="<%=marvel.id%>" />
          <button class="btn" type="submit"> Remove Marvel </button>
        </form>
        <h3>Rating: <%=marvel.rating %></h3>
        <button class="toggle" type="submit">Rate me </button>
        <form action="/update/<%= marvel.id%>?_method=PUT" method="POST" class="toggleform">
          <input type="number" name="ratingvalue" value="" placeholder="<%=marvel.rating%>" min="0" max="100">
          <button class="reload" type="submit">Rate</button>
        </form>
      </div>
      <%} );}%>
    </section>
  </main>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.js"></script>
<script src="js/app.js"></script>

</html>