<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lab 1</title>
    <link rel="stylesheet" href="/styles/css/reset.css">
    <link rel="stylesheet" href="/styles/css/base.css">
    <link rel="stylesheet" href="/styles/css/layout.css">
    <link rel="stylesheet" href="/styles/css/modules.css">
    <link rel="stylesheet" href="/styles/css/nav1.css">
</head>
<body>
    <header>     <%- include('layout/header') %> 
    </header>
    <main>
        <div class="b">
            <p></p>
        </div>
        <div class="allbox">
            <div class='cd'>
                <h2> Search By a name Of charecter </h2>
                <form id="form" action="/searches" method="post">
                    <input id="thesearchbox" name="search" placeholder='Enter a name of marvel ' style="color: black;" />
                    <br><br>
                    <button id=button> Search The MARVEL API</button><br><br>
                </form>
            </div>
        </div>
        <div class="center">
            <% if(marvels){ marvels.forEach(
                    (marvel) => { console.log(marvel); %>
                <div class="flex">
                    <img class="m-image" src=<%=marvel.image %>><br>
                    <p class="m-title">Name :
                        <%= marvel.name %>
                    </p><br><br>
                    <p class="m-title"> Description :
                        <%= marvel.description %>
                    </p><br><br>
                    <form action='/searches' method="POST" class="booktitle">
                        <input type="hidden" name="search" value="<%=marvel.name%>" />
                        <button class="btn" type="submit"> View Details </button>
                    </form>
                    <form action='/delete' method="POST" class="booktitle">
                        <input type="hidden" name="id" value="<%=marvel.id%>" />
                        <button class="btn" type="submit"> Remove Marvel </button>
                    </form>
                    <h3>rating
                        <%=marvel.rating %>
                    </h3>
                    <button class="toggle" type="submit">Rate me pleaaaase</button>
                    <form action="/update/<%= marvel.id%>?_method=PUT" method="POST" class="toggleform">
                        <input type="number" name="ratingvalue" value="" placeholder="<%=marvel.rating%>" min="0" max="100">
                        <button class="reload" type="submit">Rate meeeeeeeeeeeee</button>
                    </form>
                    <%} );}%>
    </main>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.js"></script>
<script src="js/app.js"></script>

</html>