<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://kit.fontawesome.com/a20d671700.js" crossorigin="anonymous"></script>

    <%- include('layout/head') %>
        <link rel="stylesheet" href="../styles/movies.css">
        <link rel="stylesheet" href="../styles/homeStyles.css">

        <link href="https://fonts.googleapis.com/css?family=Courier+Prime&display=swap" rel="stylesheet">
</head>
<header>
    <div id="header">
        <p id="header-text"> Marvelation </p> 
        
     </div>
    <%- include('layout/header') %>
</header>

<body>
    <main>
    <div class='card-effect'>
        <% movies.forEach(element => { %>
            <div class='card'>
                <section>
                    <div class='front-side'>
                        <h3> Movie's name:
                            <%=element.title %>
                        </h3>

                        <img src=<%=element.image_url %>>

                        <p> IMDB:
                            <%=element.vote_average%>
                        </p>
                    </div>
                    <div class='back-side'>
                        <p id='para'>
                            Plot:
                            <%=element.overview%>
                        </p>
                    </div>
                </section>
            </div>
            <% }) %>
    </div>
</main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.js"></script>
    <script>
        $('.card').click(function () {
            $(this).toggleClass('focus');
        });
    </script>
   
</body>

</html>